---
layout: default
title: "Projects"
excerpt: "Projects and examples of my work."
classes: Projects
tags:
  - Matti Salokangas
  - projects
  - work
---

<section class='page projects-section'>
  <h1>Projects</h1>
  <img class='page-banner-image' src='/images/backgrounds/laptop.jpg' alt='' />
  <div class='page-content'>
    <p class='page-content__summary'>
      The projects below I built as a side gig or for fun.
      <br /><small>See my <a href="https://www.linkedin.com/in/mattisalokangas/" target="_blank">LinkedIn</a> for professional work.</small>
    </p>
    <ul class='projects-list'>
      <li class='rogue-barbers project'>
        <h2>Rogue Barbers</h2>
        <p class='project__desc'>
          Online store and reservation web site for a very classy barber shop.
        </p>
        <a href='https://roguebarbers.com/' target='_blank' class='project__image'></a>
        <div class='project__info'>
          <div class='project__tech project__tech--shopify'>
            <div class='project__tech__label'>Built with</div>{% include icon-shopify.svg %}
          </div>
          <div class='project__links'>
            <a class='site-link' href='https://roguebarbers.com/' target='_blank'>
              View Site
            </a>
          </div>
        </div>
      </li>
      <li class='dutch-bros-menu project'>
        <h2>Dutch Bros Menu</h2>
        <p class='project__desc'>
          Online drink menu for the the largest privately held drive-through coffee chain in the United States.
        </p>
        <a href='http://menu.dutchbros.com' target='_blank' class='project__image'></a>
        <div class='project__info'>
          <div class='project__tech'>
            <div class='project__tech__label'>Built with</div>{% include icon-react.svg %}
          </div>
          <div class='project__links'>
            <a class='site-link' href='http://menu.dutchbros.com' target='_blank'>View Site</a>
          </div>
        </div>
      </li>
      <li class='how-to-flexbox project'>
        <h2>How to Flexbox</h2>
        <p class='project__desc'>
          An app that helps others learn how flexbox works.
        </p>
        <a href='http://howtoflexbox.com' target='_blank' class='project__image'></a>
        <div class='project__info'>
          <div class='project__tech project__tech--angular'>
            <div class='project__tech__label'>Built with</div>
            {% include icon-angular.svg %}
            <a class='project-link' href='https://github.com/sturdynut/how-to-flexbox' target='_blank'>{% include icon-github.svg %}</a>
          </div>
          <div class='project__links'>
            <a class='site-link' href='http://howtoflexbox.com' target='_blank'>View Site</a>
          </div>
        </div>
      </li>
      <li class='moxie-art project'>
        <h2>Moxie Art</h2>
        <p class='project__desc'>
          An online art gallery for a very talented artist.
        </p>
        <a href='http://moxieart.studio' target='_blank' class='project__image'></a>
        <div class='project__info'>
          <div class='project__tech project__tech--angular'>
            <div class='project__tech__label'>Built with</div>
            {% include icon-angular.svg %}
            <a class='project-link' href='https://github.com/sturdynut/gallery' target='_blank'>{% include icon-github.svg %}</a>
          </div>
          <div class='project__links'>
            <a class='site-link' href='http://moxieart.studio' target='_blank'>View Site</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
