$white: #F1F1F1;
$black: #555555;
$blue:  #52ABB8;
$red:  #E56161;
$yellow:  #FDB24F;
$purple:  #564A5A;
$brown:  #714E2F;
$tan: #EAC180;
$green:  #9FBF7E;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $purple;
$secondary-color: $white;
$tertiary-color: $yellow;
$quote-color: $red;
$header-color: $yellow;

$background-color: lighten($primary-color, 5%);
$text-color: $white;
