$white: #F1F1F1;
$black: #555555;
$blue:  #52ABB8;
$red:  #E56161;
$yellow:  #FDB24F;
$purple:  #443A47;
$brown:  #714E2F;
$tan: #F5EDE2;
$green:  #9FBF7E;
$dark-grey: #3a3a3a;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $purple;
$secondary-color: $blue;
$tertiary-color: $tan;

$quote-color: $red;
$header-color: $dark-grey;
$heading-color:$green;
$footer-color: darken(#9FBF7E, 25%);
$title-color: $tan;
$background-color: darken(#9FBF7E, 25%);
$text-color: $white;