/**
 * Avatar
 */
 .avatar {
  border-radius: 50%;

  .site-footer & {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto 20px auto;
    border: 6px solid rgba(255, 255, 255, 0.6);
    transition: all 300ms;

    &:hover {
      border-color: $white;
    }

    @include when-using($tablet) {
      float: left;
      margin: 0 25px 10px 0;
    }
  }
 }