@keyframes bob {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.7);

  // Positioning context for the mobile navigation icon
  position: relative;

  &:hover .site-logo > svg {
    animation: bob 1s infinite;
  }
}

.site-title {
  color: $title-color;
  display: block;
  padding-top: $spacing-unit;
  font-family: $header-font-family;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    color: $title-color;
  }

  @include when-using($laptop) {
    line-height: 56px;
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .site-logo
  {
    @include when-using($laptop) {
      padding-left: $spacing-unit;
    }

    > svg {
      height: 65px;
      width: 65px;
      display: block;
      margin: 0 auto;

      @include when-using($laptop) {
        display: flex;
        height: 35px;
        width: 35px;
        margin: 0 7px 0 0;
      }

      .logo-acorn {
        fill: $title-color;
      }

      .logo-cap {
        stroke: $title-color;
      }
    }
  }
}

$menuToggleHeight: 25px;
$menuToggleWidth: 25px;
$menuWidth: 300px;
$menuInitialTop: -15px;
$menuInitialRight: -235px;

.site-nav-trigger {
  display: block;
  position: absolute;
  top: 18px;
  right: 18px;
  width: $menuToggleWidth;
  height: $menuToggleHeight;
  line-height: 0;
  text-align: center;
  z-index: 2;

  path {
    transition: all 100ms;
    transform: rotate(0);
  }

  &.active {
    width: 30px;
    height: 30px;

    path {
      &:first-child {
        transform: rotate(45deg) translate(1px, 0);
        transform-origin: 0% 50%;
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-child {
        transform: rotate(-45deg) translate(0, 1px);
        transform-origin: 0% 50%;
      }
    }
  }

  > svg {
    width: 25px;
    height: 25px;

    path {
      fill: $title-color;
    }
  }
}

.site-nav {
  position: absolute;
  z-index: 1;
  top: $menuInitialTop;
  right: $menuInitialRight;
  width: $menuWidth;
  transition: all 300ms;

  &.active {
    background-color: darken($background-color, 15%);
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.site-nav-pages {
  position: relative;
  top: 55px;
  opacity: 0;
  transition: opacity 300ms;
  display: flex;
  flex-direction: column;

  .active & {
    opacity: 1;
  }

  .site-nav-page {
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: $white;
      line-height: 2;
      padding: 15px;

      span:first-child {
        margin-right: auto;
        text-transform: uppercase;
      }

      span:last-child {
        font-size: 0.8em;
      }
    }
  }
}