/**
 * Site header
 */
.site-header {
  position: relative;
  height: 156px;
  z-index: 3;

  @include when-using($laptop) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
  }
}

.site-title-wrapper {
  color: $title-color;
  display: block;
  padding-top: $spacing-unit;
  position: relative;
  font-family: $logo-font-family;
  font-size: 40px;
  text-align: center;

  &:hover {
    color: $title-color;
  }

  @include when-using($laptop) {
    line-height: 56px;
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .site-title {
    position: relative;
    top: 5px;
  }

  .site-logo > svg {
    height: 65px;
    width: 65px;
    display: block;
    margin: 0 auto;

    @include when-using($laptop) {
      display: flex;
      height: 35px;
      width: 35px;
      margin: 0 7px 0 20px;
    }

    .logo-acorn {
      fill: $title-color;
    }

    .logo-cap {
      stroke: $title-color;
    }
  }
}

$menuWidth: 500px;
$menuInitialRight: -235px;

.site-nav-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  line-height: 0;
  text-align: center;
  z-index: 2;
  color: $white;

  .site-nav-trigger-label {
    display: none;
  }

  @include when-using($laptop) {
    width: 95px;
    display: flex;
    align-items: center;

    &.active .site-nav-trigger-label .menu {
      display: none;
    }

    .site-nav-trigger-label {
      display: block;
      margin-top: 7px;

      .menu {
        display: block;
      }
    }
  }

  path {
    transition: all 100ms;
    transform: rotate(0);
  }

  &.active path {
    &:first-child {
      transform: rotate(45deg) translate(1px, 0);
      transform-origin: 0% 50%;
    }
    &:nth-child(2) {
      display: none;
    }
    &:last-child {
      transform: rotate(-45deg) translate(0, 1px);
      transform-origin: 0% 50%;
    }
  }

  > svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;

    path {
      fill: $title-color;
    }
  }
}

.site-nav-container {
  overflow: hidden;
  position: relative;

  &.active {
    position: static;
  }
}

.site-nav {
  position: absolute;
  z-index: 1;
  top: 156px;
  right: $menuInitialRight;
  width: 100%;
  transition: all 300ms;

  @include when-using($laptop) {
    top: 58px;
    width: $menuWidth;
  }

  .site-nav-container.active & {
    background-color: $menu-background-color;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.site-nav-pages {
  position: relative;
  opacity: 0;
  transition: opacity 300ms;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: darken($black, 50%);

  .active & {
    opacity: 1;
  }

  .site-nav-info,
  .site-nav-group-about,
  .site-nav-group,
  .site-nav-page {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .site-nav-group-about,
  .site-nav-group {
    background-color: darken($black, 50%);
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 45px;
  }

  .site-nav-info {
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    margin-top: auto;
    background-color: lighten($black, 10%);
    padding-bottom: 10px;

    p {
      padding: 0 20px 20px;
      text-align: justify;
      line-height: 1.75;

      &:nth-of-type(1) {
        padding-top: 20px;
        font-size: 1.2em;
      }
    }

    span.keyword {
      color: $yellow;
      border-radius: 3px;
      padding: 1px 2px;
    }

    a {
      color: $yellow;
      border-bottom: 1px solid $yellow;
    }
  }

  .site-nav-page {
    background-color: $menu-item-background-color;
    transition: all 300ms;

    &:hover {
      background-color: $menu-item-background-hover-color;

      a {
        color: $menu-item-hover-color;
      }
    }

    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: $menu-item-color;
      line-height: 1.25;
      padding: 15px;

      span:first-child {
        margin-right: auto;
        text-transform: uppercase;
      }

      span:last-child {
        font-size: 0.7em;
      }
    }
  }
}