/**
 * Layout modifiers
 */
$start: 0;
$step: 5;
$max: 20;
$directions: top right bottom left;

@mixin pad-x-y {
    @for $direction from 1 through length($directions) {
        @for $i from $start through ($max / $step)  {
            $value: $i * $step;
            .pad-#{nth($directions, $direction)}-#{$value} {
                padding-#{nth($directions, $direction)}: #{$value}px;
            }
        }
    }
}

@mixin mgn-x-y {
    @for $direction from 1 through length($directions) {
        @for $i from $start through ($max / $step)  {
            $value: $i * $step;
            .mgn-#{nth($directions, $direction)}-#{$value} {
                margin-#{nth($directions, $direction)}: #{$value}px;
            }
        }
    }
}

@include pad-x-y;
@include mgn-x-y;

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.text-center {
    text-align: center;
}


/**
 * Page content
 */
.page {
  height: calc(100vh - 270px);

  &.home {
    background: $primary-color url('/images/bg-pixels.jpg') 100% 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.page-heading {
    font-size: 20px;

    .home & a {
        color: $white;
        font-size: 4em;
        text-align: center;

        &:hover {
          color: $white;
          text-decoration: none;
        }

        @include when-using($mobile) {
          font-size: 3em;
          padding: 0 40px;
          line-height: 1.5;
        }
    }
}
