/**
 * Posts
 */

$post-max-width: 1200px;
$post-gutter: 2rem;
$post-spacer: 1.5rem;

.post-container {
  background-size: cover;

  @include when-using($laptop) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.post {
  background-color: $white;
  margin: 0 auto;
  max-width: 1200px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-link {
  display: block;
  font-size: 24px;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);
  transform: skew(2deg) rotate(-2deg);
}

.post-header {
  color: $black;
  padding: 60px $post-spacer 30px;
  text-align: left;
}

.post-title {
  color: $black;
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0;

  @include when-using($tablet) {
    font-size: 3.5em;
  }

  @include when-using($laptop) {
    font-size: 5em;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: $post-spacer 0 $post-spacer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  max-width: 900px;
  margin: 0 auto;

  time {
    margin-right: 20px;
    color: $black;
  }

  [itemprop="author"] {
    margin-left: 20px;
    color: $black;
  }
}

.post-content {
  background-color: $white;
  color: $primary-color;
  padding: 0 0 $post-spacer;
  min-height: 100vh;

  @include when-using($tablet) {
    text-align: left;
  }

  & > p {
    margin-bottom: $post-spacer;
  }

  p {
    padding: 0 $post-gutter;
    line-height: 2;
    text-align: justify;
  }

  a {
    color: $primary-color;
    border-bottom: 1px solid $secondary-color;
  }

  blockquote {
    margin: 2rem 0;
    padding: 3rem 0;
    background-color: lighten($quote-color, 35%);
    color: darken($quote-color, 25%);

    &:not(:first-child) {
      margin-top: $post-gutter;
      padding: 2rem 0;
    }

    p {
      text-align: left;

      a {
        font-size: 0.8rem;
        display: block;
        text-align: right;
        border-bottom-style: none;
        cursor: pointer;

        &:before {
          content: ' -- ';
        }
      }
    }
  }

  ol,
  ul {
    margin-left: 45px;
    margin-bottom: 10px;

    li {
      list-style-type: upper-roman;
      line-height: 2;
    }
  }

  h1, h2, h3, h4 {
    padding: 0;
    clear: both;
    text-align: center;

    @include when-using($laptop) {
      text-align: left;
    }
  }

  h1 {
    font-size: 2.2em;

    @include when-using($laptop) {
      font-size: 3em;
    }
  }

  h2 {
      color: $grey-color-dark;
      font-size: 2.0em;
      margin-bottom: 1rem;
      padding: 0 $post-gutter;

      @include when-using($laptop) {
        font-size: 2.8em;
      }
  }

  h3 {
    color: $black;
    font-size: 1.6em;
    padding: 0 $post-gutter;

    @include when-using($laptop) {
      font-size: 1.8em;
    }
  }

  h4 {
      font-size: 1.2em;

      @include when-using($laptop) {
        font-size: 1em;
      }
  }

  figure {
    margin: $spacing-unit 0;
  }

  pre {
    padding: 20px 40px;
  }

  pre, code {
    border-color: darken($tan, 5%);
    background-color: lighten($tan, 5%);
  }

  .left-rounded-image {
    display: block;
    margin: $post-spacer auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 250px;

    @include when-using($tablet) {
      margin: 0 $post-spacer $post-spacer 0;
      float: left;
      width: 200px;
      height: 200px;
    }
  }
}


/**
 * Featured post content
 */


.featured-post-list {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.no-posts-container {
  height: 100vh;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px -1px 1px rgba(0, 0, 0, 0.5);
}

.featured-post {
  height: 50vh;
  background-color: $black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  @include when-using($tablet) {
    height: 70vh;
  }

  @include when-using($laptop) {
    height: 100vh;
  }
}

.featured-post-heading {
  font-size: 4em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  transform: skew(2deg) rotate(-2deg);
  text-align: center;
  color: $white;
  line-height: 1;
  visibility: hidden;

  @include when-using($tablet) {
    font-size: 4.5em;
  }

  @include when-using($laptop) {
    font-size: 6.5em;
  }

  .active & a {
    color: $white;
    font-size: 4em;
    text-align: center;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    @include when-using($mobile) {
      font-size: 2.5em;
      line-height: 1.5;
    }
  }
}

.featured-post-button {
  margin-top: 40px;
  padding: 10px 30px;
  font-size: 1em;
  transition: all 300ms;
  border: 1px solid transparent;
  color: $white;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  &:hover {
    border-color: $white;
  }
}

.featured-post-meta {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);
  transform: skew(2deg) rotate(-2deg);
  color: $white;
}