/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $white;
  text-align: center;
  padding: 20px 0 0;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);

  @include when-using($laptop) {
    text-align: left;
    padding: 0;
  }
}

.post-link {
  display: block;
  font-size: 24px;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);
  transform: skew(2deg) rotate(-2deg);
}

.post-header {
  background: $primary-color url('/images/bg-pixels.jpg') top left;
  color: $white;
  padding: 25px 20px;
  text-align: left;
}

.post-title {
  color: $white;
  font-size: 2.4em;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: $spacing-unit 0 0;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);

  @include when-using($laptop) {
    font-size: 3em;
    text-align: left;
  }
}

.post-content {
  background-color: $tertiary-color;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 1);
  color: $primary-color;
  padding: 20px 20px;
  text-align: justify;

  @include when-using($laptop) {
    text-align: left;
  }

  a {
    color: $primary-color;
    border-bottom: 1px solid $secondary-color;
  }

  ol,
  ul {
    margin-left: 45px;
    margin-bottom: 10px;

    li {
      list-style-type: upper-roman;
      line-height: 2;
    }
  }

  h1, h2, h3, h4 {
    padding: 0 $spacing-unit;
    margin-top: 20px;
  }

  h1 {
    font-size: 2em;

    @include when-using($laptop) {
      font-size: 1.8em;
    }
  }

  h2 {
      background-color: $primary-color;
      color: $tertiary-color;
      width: 75%;
      max-width: 600px;
      font-size: 1.8em;
      margin-bottom: $spacing-unit;

      @include when-using($laptop) {
        font-size: 1.6em;
      }
  }

  h3 {
    color: $black;
    font-size: 1.6em;
    padding: 0;

    @include when-using($laptop) {
      font-size: 1.8em;
    }
  }

  h4 {
      font-size: 1.2em;

      @include when-using($laptop) {
        font-size: 1em;
      }
  }

  figure {
    margin: $spacing-unit 0;
  }

  pre {
    padding: 20px 40px;
  }

  pre, code {
    border-color: darken($tan, 5%);
    background-color: lighten($tan, 5%);
  }

  p {
    padding: 0 $spacing-unit;
    line-height: 2;
    margin-bottom: 10px;
  }
}
