/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $primary-color;
  text-align: center;
  padding: 20px 0 0;

  @include when-using($laptop) {
    text-align: left;
    padding: 0;
  }
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header {
  background-color: darken($tertiary-color, 5%);
  color: $primary-color;
  padding: 25px 20px;
  text-align: left;
}

.post-title {
  color: $primary-color;
  font-size: 2.4em;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  padding: $spacing-unit 0 0;

  @include when-using($laptop) {
    font-size: 2.6em;
    text-align: left;
  }
}

.post-content {
  background-color: $tertiary-color;
  color: $primary-color;
  padding: $spacing-unit 0;
  text-align: justify;

  @include when-using($laptop) {
    text-align: left;
  }

  a {
    color: $primary-color;
    border-bottom: 1px solid $secondary-color;
  }

  ul {
    margin-left: 55px;
  }

  h1, h2, h3, h4 {
    padding: 0 $spacing-unit;
  }

  h1 {
    font-size: 2em;

    @include when-using($laptop) {
      font-size: 1.8em;
    }
  }

  h2 {
      background-color: $primary-color;
      color: $tertiary-color;
      width: 75%;
      max-width: 600px;
      font-size: 1.8em;
      margin-bottom: $spacing-unit;

      @include when-using($laptop) {
        font-size: 1.6em;
      }
  }

  h3 {
    color: $black;
    font-size: 1.4em;

    @include when-using($laptop) {
      font-size: 1.6em;
    }
  }

  h4 {
      font-size: 1.2em;

      @include when-using($laptop) {
        font-size: 1em;
      }
  }

  figure {
    margin: $spacing-unit 0;
  }

  pre {
    padding: 20px 40px;
  }

  pre, code {
    border-color: darken($tan, 5%);
    background-color: lighten($tan, 5%);
  }

  p {
    padding: 0 $spacing-unit;
    line-height: 2;
  }
}
