.site-content {
  width: 100%;
  height: 100%;
}

.name-occupation {
  width: 324px;
  height: 324px;
  background-position: center;
  background-image: url('/images/sign.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  margin: 85px auto 0;

  @include when-using($laptop) {
    height: 100vh;
    margin: 0 auto;
    background-position: center;
  }
}

.about-section {
  padding: 30px;

  > img {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 400px;
    border-radius: 3px;

    @include when-using($tablet) {
      margin-bottom: 60px;
    }
  }

  @include when-using($tablet) {
    padding: 80px 30px;
  }

  @include when-using($laptop) {
    padding: 30px;
  }
}
