/**
 * About section
 */

.about-section {
  h1 {
    text-align: right;
    border-bottom: 4px solid $tertiary-color;
    font-size: 3rem;
    background-image: url("/images/mountain.svg");
    background-repeat: no-repeat;
    background-size: 165px;
    background-position: 23px 7px;

    @include when-using($tablet) {
      background-size: 230px;
      background-position: 2px 5px;
      font-size: 4rem;
    }

    @include when-using($laptop) {
      font-size: 5rem;
    }
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2rem;

    @include when-using($tablet) {
      font-size: 3rem;
    }
  }

  p {
    padding-bottom: 20px;
    font-size: 1.4rem;

    @include when-using($tablet) {
      font-size: 2rem;
    }

    @include when-using($laptop) {
      font-size: 2.4rem;
    }
  }

  .summary {
    font-size: 1.8rem;

    @include when-using($laptop) {
      font-size: 3rem;
    }
  }

  .social-information {
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    line-height: 1.75;

    @include when-using($tablet) {
      font-size: 1.5rem;
      padding: 30px;
      border-radius: 20px;
      margin: 0 30px;
    }

    @include when-using($laptop) {
      font-size: 2rem;
    }
  }

  .thank-you {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Satisfy';
    font-size: 1.8rem;
    border-top: 4px solid $tertiary-color;

    @include when-using($tablet) {
      padding: 30px;
      font-size: 3rem;
    }

    @include when-using($laptop) {
      padding: 60px;
      font-size: 4rem;
    }
  }
}
