/**
 * About section
 */

.about-section {
  max-width: 1200px;
  padding: 60px 0;

  .page-content {
    padding: 0 20px;
  }

  h1 {
    text-align: right;
    border-bottom: 4px solid $tertiary-color;
    font-size: 3rem;
    background-image: url("/images/mountain.svg");
    background-repeat: no-repeat;
    background-size: 168px;
    background-position: 50px 19px;

    @include when-using($tablet) {
      background-position: 60px 19px;
    }

    @include when-using($laptop) {
      background-size: 320px;
      background-position: 40px 19px;
      font-size: 5rem;
    }
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2rem;

    @include when-using($tablet) {
      font-size: 2.4rem;
    }
  }

  p {
    padding-bottom: 20px;
    font-size: 1.4rem;

    @include when-using($tablet) {
      font-size: 2rem;
    }

    @include when-using($laptop) {
      font-size: 2rem;
    }
  }

  .summary {
    text-align: justify;

    @include when-using($laptop) {
      display: flex;
      align-items: flex-start;
      text-align: left;
    }

    img {
      width: 100%;
      max-width: 450px;
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
      margin: 0 auto 20px;
      display: block;

      @include when-using($laptop) {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
      }
    }
  }

  .social-information {
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    line-height: 1.75;

    @include when-using($tablet) {
      font-size: 1.5rem;
      padding: 30px;
      border-radius: 20px;
      margin: 0 30px;
    }

    @include when-using($laptop) {
      font-size: 2rem;
    }
  }

  .thank-you {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Satisfy';
    font-size: 1.8rem;
    border-top: 4px solid $tertiary-color;

    @include when-using($tablet) {
      padding: 30px;
      font-size: 3rem;
    }

    @include when-using($laptop) {
      padding: 60px;
      font-size: 4rem;
    }
  }
}
