$post-max-width: 1200px;
$post-gutter: 2rem;
$post-spacer: 1.5rem;

.blog-section {
  min-height: 100vh;
}

/**
 * Posts
 */
.post-container {
  background-repeat: no-repeat;
  padding-top: 80px;

  @include when-using($tablet) {
    background-size: contain;
  }

  @include when-using($laptop) {
    padding-top: 120px;
  }
}

.post {
  margin: 0 auto;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-link {
  display: block;
  font-size: 24px;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);
  transform: skew(2deg) rotate(-2deg);
}

.post-header {
  color: $white;
  padding: 60px 0 0;
  text-align: right;
}

.post-title-container {
  padding: 0 $post-spacer;
  margin-bottom: 45px;
}

.post-title {
  color: $white;
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1.25;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;

  @include when-using($tablet) {
    font-size: 5em;
  }

  @include when-using($laptop) {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 7em;
  }
}

.post-author {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $black;
  background-color: $white;
  font-weight: 700;
  position: relative;

  .featured-post-meta & {
    background-color: transparent;
    color: $white;

    .name {
      margin-top: 20px;
    }
  }

  img {
    width: 90px;
    height: 90px;
    margin: -45px 0 10px;
    border: 4px solid $white;

    .featured-post-meta & {
      border-style: none;
      margin: 0;
    }

    @include when-using($tablet) {
      font-size: 5em;
      width: 120px;
      height: 120px;
      margin-top: -60px;
    }
  }

  > span {
    @include when-using(575px) {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      margin-left: 141px;
      margin-top: -15px;

      .featured-post-meta & {
        position: static;
        transform: none;
        margin: 0;
      }
    }
  }

  i {
    padding-right: 2px;
    font-weight: 100;
  }
}

.post-meta {
  color: $white;
  text-align: right;
  padding: 0;
  margin: 0 auto;

  time {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  [itemprop="author"] {
    margin-left: 20px;
    color: $white;
  }
}

.post-content {
  background-color: $white;
  color: $black;
  padding: 40px 0;
  min-height: 100vh;
  font-weight: 300;
  font-size: 1.2rem;

  @include when-using($tablet) {
    text-align: left;
  }
}

.post-content-inner {
  max-width: 1200px;
  margin: 20px auto;

  @include when-using($tablet) {
    padding: 0 80px;
  }

  blockquote {
    font-size: 1rem;
    font-family: 'Merriweather';
    text-align: left;
    margin-bottom: 40px;
    padding: 30px;
    border-left-width: 0;

    &:not(:first-child) {
      margin-top: 40px;
    }

    @include when-using($tablet) {
      font-size: 1.4rem;
      padding: 50px 60px;
    }

    p {
      padding: 20px;
      width: 90%;

      a {
        font-size: 0.8rem;
        display: block;
        text-align: right;
        border-bottom-style: none;
        cursor: pointer;
        margin: 30px 0 0;

        &:before {
          content: ' -- ';
        }
      }
    }
  }

  p {
    font-size: 1.3em;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 0 $spacing-unit;

    img {
      background-color: $black;

      @include when-using($laptop) {
        border-radius: 20px;
      }
    }
  }

  ol,
  ul {
    margin-left: 45px;
    margin-bottom: 30px;

    li {
      line-height: 2.5;
      font-size: 1.2em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.8em;
    clear: both;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 $spacing-unit;
  }

  h1 {
    font-size: 2.2em;

    @include when-using($laptop) {
      font-size: 3em;
    }
  }

  h2 {
    font-size: 2.4em;
    border-bottom: 1px solid $tertiary-color;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 40px;

    &:not(:nth-child(1)) {
      margin-top: 40px;
    }

    @include when-using($laptop) {
      font-size: 3.6em;
    }
  }

  h3 {
    color: $primary-color;
    margin-top: 50px;
    font-size: 2em;

    @include when-using($laptop) {
      font-size: 2.8em;
    }
  }

  h4 {
    margin-top: 30px;
    color: lighten($primary-color, 5%);
  }

  h5 {
    margin-top: 30px;
    color: lighten($primary-color, 10%);
    font-size: 1.4em;
  }

  a {
    color: $primary-color;
    transition: 0.15s;
    text-decoration: none;
    position: relative; /* 1 */
    display: inline-block;

    &::before {
       content: '';
       transition: inherit; /* 1 */
       position: absolute; /* 2 */
       top: 100%; /* 2 */
       left: 0; /* 2 */
       right: 0; /* 2 */
       height: 1px;
       background: currentcolor; /* 3 */
       -webkit-transform: scaleX(0); /* 4 */
       -ms-transform: scaleX(0); /* 4 */
       transform: scaleX(0); /* 4 */
     }

     /**
     * Display underline on hover
     */
     &:active::before,
     &:hover::before {
       -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
       transform: scaleX(1);
     }
  }

  iframe {
    margin: 30px auto;
  }

  figure {
    margin: $spacing-unit 0;
  }

  pre {
    padding: 20px 40px;
  }

  .highlighter-rouge {
    margin: 40px 0;
  }

  .highlight {
    border-radius: 0;

    pre, code {
      border-color: transparent;
      background-color: transparent;
    }
  }

  .left-rounded-image {
    display: block;
    margin: $post-spacer auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 250px;

    @include when-using($tablet) {
      margin: 0 $post-spacer $post-spacer 0;
      float: left;
      width: 200px;
      height: 200px;
    }
  }
}

.disqus-container {
  background-color: $white;
  padding: 20px 0;
  margin: 0 auto;
}

/**
 * Featured post content
 */


.featured-post-list {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: -24px 0 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.no-posts-container {
  height: 100vh;
  font-size: 6em;
  padding-top: 40px;
  text-align: center;
  font-family: 'Satisfy';

  span {
    visibility: hidden;
  }

  @include when-using($tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0;
    height: auto;
  }
}

.featured-post {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.featured-post-heading {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: $white;
  line-height: 1;
  visibility: hidden;

  @include when-using($tablet) {
    font-size: 4.5em;
  }

  @include when-using($laptop) {
    font-size: 6.5em;
  }

  .active & a {
    color: $white;
    font-size: 4em;
    text-align: center;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    @include when-using($mobile) {
      font-size: 2.5em;
      line-height: 1.5;
    }
  }
}

.featured-post-url {
  text-align: right;
  margin-top: 24px;

  @include when-using($laptop) {
    margin: 0 30px;
    padding: 30px;
    transition: all 1s;
  }
}

.featured-post-button {
  margin-top: 40px;
  padding: 10px 30px;
  font-size: 1em;
  transition: all 100ms;
  color: $white;
  opacity: 0;
  font-family: $button-font-family;
  position: relative;
  border-radius: 3px;

  .featured-post.active & {
    opacity: 1;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 1;
    transition: all 500ms;
    border-radius: 3px;
  }

  &:hover,
  &:active {
    animation: bob 2s infinite;
    color: $white;

    &:after {
      top: 0;
    }
  }
}

.featured-post-meta {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 100ms;

  @include when-using($tablet) {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }

  .featured-post.active & {
    opacity: 1;
  }
}

.featured-post-date {
  color: $white;

  // &:after {
  //   content: '\00B7';
  //   padding: 0 10px;
  //   color: rgba(255, 255, 255, 0.5);
  // }
}

.featured-post-comments {
  color: $white;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.comments-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  min-height: 100px;
  color: $white;

  @include when-using($laptop) {
    padding-left: 0;
    padding-right: 0;
  }
}
