.page-experiment {
  bottom: 0;
  height: 100vh;
  padding: 0;
  position: absolute;
  left: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  right: 0;
  top: 0;
  touch-action: none;
  width: 100vw;
}
