/*
  Home Page Styles
*/
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 20px 0;
  max-width: 1440px;
  background-image: url('/images/mountain.svg');
  background-repeat: no-repeat;
  background-size: 1024px;
  background-position: top center;

  @include when-using($tablet) {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 50px;
    height: 100vh;
  }

  @include when-using($laptop) {
    padding-top: 97px;
    padding-bottom: 140px;
    height: 100%;
  }

  .site-logo {
    display: none;

    @include when-using($tablet) {
      position: relative;
      height: 105px;
      width: 91px;
      display: block;
    }
  }

  .intro-highlight {
    width: 500px;
    background-size: 500px;
    height: 500px;
    margin: 0 6px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: -35px 0;
    margin: 150px 0 15px;
    border-radius: 17%;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    @include when-using($tablet) {
      margin-top: 40px;
    }

    @include when-using($laptop) {
      margin-top: 150px;
    }
  }

  h1 {
    position: relative;
    font-family: 'Satisfy';
    margin: 0 0 15px;
    padding: 5px 0 15px;
    text-align: center;
    line-height: 1;
    font-weight: 100;
    font-size: 2.6rem;
    color: $white;
  }

  h2 {
    width: 290px;
    position: relative;
    bottom: 28px;
    border-radius: 23px;
    border: 1px solid $yellow;
    color: $intro-navigation-background-active-color;
    margin: 25px 0 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: $button-font-family;
    line-height: 1;
    text-align: center;
    transition: all 500ms;

    @include when-using($tablet) {
      &:hover,
      &:active {
        border-color: transparent;
        color: $intro-navigation-background-active-color;

        &::after {
          top: 0;
          width: 100%;
        }
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 40px;
        bottom: 0;
        background-color: $tertiary-color;
        border-radius: 23px;
        z-index: 1;
        transition: all 500ms;
        transform: translateX(-50%);
        width: 0;
      }
    }

    a {
      color: inherit;
      padding: 10px 15px;
      display: block;
      position: relative;
      z-index: 10;
    }
  }
}

.intro-navigation {
  margin: 0 auto 40px;
  width: 100%;

  @include when-using($tablet) {
    max-width: 600px;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include when-using($tablet) {
      flex-direction: row;
    }

    li {
      margin: 0 0 12px 0;
      padding: 0;
      flex: 1;
      list-style: none;

      @include when-using($tablet) {
        margin: 0 24px 0 0;
        width: 120px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
