/*
  Home Page Styles
*/
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 20px 0;
  max-width: 1440px;
  margin-top: 50px;
  background-image: url('/images/mountain.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @include when-using($tablet) {
    padding-bottom: 0;
    padding-top: 0;
    height: 100vh;
  }

  @include when-using($laptop) {
    background-size: 640px;
    background-position: top;
    padding-top: 210px;
    padding-bottom: 140px;
    height: 100%;
  }

  .site-logo {
    display: none;

    @include when-using($tablet) {
      position: relative;
      height: 105px;
      width: 91px;
      display: block;
    }
  }

  img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: -35px 0;
    margin: 22px 0 20px;
    border-radius: 50%;
    padding: 4px;

    @include when-using($tablet) {
      margin-top: 0;
      width: 220px;
      height: 220px;
    }
  }

  h1 {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 22px;
    text-align: center;
    line-height: 1;
    font-weight: 100;
    font-size: 2rem;
    color: $background-color;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    @include when-using($tablet) {
      margin: 5px 0 15px;
      font-size: 3rem;
    }
  }

  h2 {
    position: relative;
    margin: 0;
    padding: 10px 0 40px;
    font-size: 2rem;
    font-family: 'Satisfy';
    line-height: 1.2;
    text-align: center;
    color: $background-color;
    visibility: hidden;

    @include when-using($tablet) {
      font-size: 3rem;
    }
  }
}

.intro-navigation {
  margin: 0 auto 40px;
  width: 100%;

  @include when-using($tablet) {
    max-width: 600px;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include when-using($tablet) {
      flex-direction: row;
    }

    li {
      margin: 0 0 12px 0;
      padding: 0;
      flex: 1;
      list-style: none;

      @include when-using($tablet) {
        margin: 0 24px 0 0;
        width: 120px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
