/*
  Home Page Styles
*/

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 20px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: 1024px;
  background-position: 50% 0;

  @include when-using($tablet) {
    background-image: url('/images/mountain.svg');
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 100px;
    height: 100vh;
    max-height: 885px;
  }

  @include when-using($laptop) {
    padding-top: 97px;
    padding-bottom: 140px;
    height: 100%;
    position: relative;
    top: -60px;
  }

  .site-logo {
    display: none;

    @include when-using($tablet) {
      position: relative;
      height: 105px;
      width: 91px;
      display: block;
    }
  }

  .intro-highlight {
    width: 500px;
    background-size: 500px;
    background-image: url('/images/intro-highlight.svg');
    height: 500px;
    margin: 0 6px 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @include when-using($laptop) {
      margin-top: 5px;
      margin-bottom: 0;
    }

    img {
      width: 253px;
      margin: 0 0 15px;
      display: none;

      @include when-using($tablet) {
        margin-top: 40px;
        width: 200px;
        height: 200px;
      }

      @include when-using($laptop) {
        margin-top: 150px;
      }
    }

    h1 {
      position: relative;
      font-family: 'Satisfy';
      margin: 20px 0 15px;
      padding: 5px 0 15px;
      text-align: center;
      line-height: 1;
      font-size: 2.8rem;
      color: $white;
    }

    h2 {
      width: 290px;
      position: relative;
      bottom: 20px;
      border-radius: 23px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: $secondary-color;
      margin: 25px 0 0;
      padding: 0;
      font-size: 1.3rem;
      font-family: $button-font-family;
      line-height: 1;
      text-align: center;
      transition: all 600ms;

      &:hover,
      &:active {
        border-color: rgba(255, 255, 255, 0.4);
      }

      a {
        color: inherit;
        padding: 10px 15px;
        display: block;
        position: relative;
        z-index: 10;
      }
    }
  }
}

.intro-navigation {
  margin: 0 auto 40px;
  width: 100%;

  @include when-using($tablet) {
    max-width: 600px;
  }

  @include when-using($laptop) {
    position: relative;
    top: 60px;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include when-using($tablet) {
      flex-direction: row;
    }

    li {
      margin: 0 0 12px 0;
      padding: 0;
      flex: 1;
      list-style: none;

      @include when-using($tablet) {
        margin: 0 24px 0 0;
        width: 120px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
