.page {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page__meta {
  transition: transform 300ms ease-in-out;
  position: absolute;
  left: calc(-50% + 60px);
  top: -100%;
  transform: rotate(-90deg);
  width: 100%;
  animation: showPageMeta 2s;
  animation-fill-mode: forwards;
  // background-image: -webkit-linear-gradient(transparent -120%, $black 82%);
  // background-image: -o-linear-gradient(transparent -120%, $black 82%);
  // background-image: linear-gradient(transparent -120%, $black 82%);
  // box-shadow: 0 -15px 25px 0 rgba(0, 0, 0, 0.9);
  // border-radius: 3px 0 0 3px;
  
  @include when-using($tablet) {
    top: 0;
    left: 40px;
    box-shadow: none;
    transform: none;
  }

  @include when-using($laptop) {
    // bottom: 60px;
    // width: 40%;
  }
}

.page-content__section {
  background: $white;
}

.page-banner-image {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1;
}