.site-content {
  position: relative;
  min-height: 100vh;
}

.page {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page__meta {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 140px;
  left: -100%;
  animation: showPageMetaLeft 2s;
  animation-fill-mode: forwards;
  transform: rotate(-90deg);
  width: 100%;

  @include when-using($tablet) {
    top: -100%;
    animation: showPageMeta 2s;
    animation-fill-mode: forwards;
    left: 40px;
    box-shadow: none;
    transform: none;
  }
}

.page-content__section {
  background: $white;
}

.page-banner-image {
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  object-fit: cover;
}