/**
 * Projects section
 */

 .page.projects-section {
  height: 100%;
  background-color: $dark-grey;

  @include when-using($tablet) {
    margin-bottom: 20px;

    .page-banner-image {
      height: 100vh;
    }
  }

  h1 {
    text-align: center;
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: $white;
    position: relative;
    z-index: 200;
    top: 70px;
    box-shadow: none;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

    @include when-using($tablet) {
      font-size: 4em;
      top: 0;
    }

    @include when-using($laptop) {
      z-index: 100;
      position: fixed;
      top: 150px;
      left: -84px;
      transform: rotate(-90deg);
    }
  }

  .projects-list {
    padding: 0 1em;
    font-size: 1rem;
    margin: 0 0 2em 0;

    @include when-using($tablet) {
      margin: 0 25px 0 0;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    i {
      color: rgba(255,255,255,0.8);
      font-size: 0.8em;
      text-align: center;
      display: block;
      padding: 20px 0;
    }
  }

  .page-content {
    margin-top: 178px;

    @include when-using($tablet) {
      margin-top: 130px;
      padding-left: calc(80px + 1em);
      padding-right: calc(40px + 1em);
    }
  }
}

.project {
  padding: 1em 1em 2em;
  flex: 1;
  color: $white;
  line-height: 1.75;
  background: $black;
  position: relative;
  z-index: 100;
  border-radius: 4px;

  & + & {
    margin-top: 4em;

    @include when-using($laptop) {
      margin-top: 5em;
    }
  }

  @include when-using($tablet) {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  @include when-using($laptop) {
    height: 50vh;
    min-height: 570px;
  }

  h2, h3 {
    font-size: 1.4rem;
    padding: 0 16px;
    margin: 0;
    text-align: left;
    color: $white;
    box-shadow: none;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: $black;
    z-index: 100;
    width: calc(100% - 5em);
    text-align: center;
    border-radius: 4px 4px 0 0;

    @include when-using($tablet) {
      font-size: 1.5rem;
      top: -32px;
      padding-left: 30px;
      padding-right: 30px;
      width: auto;
      border-radius: 4px;
    }

    @include when-using($laptop) {
      font-size: 2.4rem;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  span {
    color: rgba(255, 255, 255, 0.8);
  }

  &__info {
    @include when-using($tablet) {
      display: flex;
      flex-direction: row;
      padding: 1em 2em;
      background: $black;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.5);
    }
  }

  &__desc {
    color: $white;
    text-align: justify;
    padding: 1em 2em;
    font-size: 0.9rem;
    line-height: 1.2;

    @include when-using($tablet) {
      font-size: 1.1rem;
      padding: 2em;
      text-align: center;;
    }

    @include when-using($laptop) {
      font-size: 1.2rem;
    }
  }

  &__tech {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 0;

    @include when-using($tablet) {
      padding: 0;
    }

    &--shopify svg path:nth-child(4) {
      fill: $white;
    }
    &--angular > svg path {
      fill: #b52e31;
    }

    &__label {
      display: inline-block;
      font-size: 0.7em;
      transform: rotate(-2deg);
      background-color: $yellow;
      color: $dark-grey;
      padding: 1px 3px;
      margin-right: 1em;
    }

    .project-link {
      border-style: none;
      padding: 0;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      z-index: 101;
      margin-left: 0.5em;

      svg {
        height: 45px;
        width: 45px;
        fill: $white;
      }

      @include when-using($tablet) {
        position: static;
        border-radius: 0;
        background-color: transparent;
      }
    }
  }

  &__links {
    display: flex;
    margin: 0;
    padding: 1em 0 0;
    flex-direction: row;

    @include when-using($tablet) {
      flex: 1;
      flex-basis: 200px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    > a {
      display: block;
      text-align: center;
      padding: 0.5em 1em;
      background: $primary-color;
      border-radius: 45px;
      color: $white;
      transition: background-color 300ms;
      width: 100%;

      &.site-link {
        @include when-using($tablet) {
          padding: 0;
          border-radius: 4px;
          line-height: 1;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          flex: 1;
          max-width: 150px;
        }
      }

      &:hover {
        background: darken($yellow, 5%);
      }
    }
  }

  &__image {
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: block;
    z-index: 100;

    @include when-using($tablet) {
      height: 40vh;
      border-radius: 4px 4px 0 0;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.9);
      width: calc(100% - 4em);
    }

    @include when-using($laptop) {
      height: 100%;
    }

    .dutch-bros-menu & {
      background-image: url('/images/projects/dutch-bros-menu.png');
    }

    .how-to-flexbox & {
      background-image: url('/images/projects/how-to-flexbox.png');
    }

    .moxie-art & {
      background-image: url('/images/projects/moxie-art.png');
    }

    .who-said-wat & {
      background-image: url('/images/projects/who-said-wat.png');
    }

    .rogue-barbers & {
      background-image: url('/images/projects/rogue-barbers.jpg');
    }
  }
}
