/**
 * Projects section
 */

 .page.projects-section {
  height: 100%;
  background-color: $dark-grey;

  @include when-using($tablet) {
    margin-bottom: 20px;

    .page-banner-image {
      height: 100vh;
    }
  }

  h1 {
    text-align: center;
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: $black;
    position: relative;
    z-index: 200;
    top: 70px;
    box-shadow: none;

    @include when-using($tablet) {
      font-size: 4em;
      top: 0;
    }

    @include when-using($laptop) {
      z-index: 100;
      position: fixed;
      top: 150px;
      left: -84px;
      transform: rotate(-90deg);
    }
  }

  .projects-list {
    padding: 0;
    font-size: 1rem;
    margin: 0;

    @include when-using($tablet) {
      margin: 0 25px 0 0;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
    }

    i {
      color: rgba(255,255,255,0.8);
      font-size: 0.8em;
      text-align: center;
      display: block;
      padding: 20px 0;
    }
  }

  .page-content {
    margin-top: 178px;

    @include when-using($tablet) {
      margin-top: 130px;
      padding-left: calc(80px + 1em);
      padding-right: calc(40px + 1em);
    }
  }
}

.project {
  padding: 1em 1em 2em;
  flex: 1;
  color: $white;
  line-height: 1.75;
  background: $black;
  position: relative;
  z-index: 100;
  border-radius: 4px;

  & + & {
    margin-top: 4em;

    @include when-using($laptop) {
      margin-top: 5em;
    }
  }

  @include when-using($tablet) {
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  @include when-using($laptop) {
    height: 50vh;
    min-height: 570px;
  }

  h2, h3 {
    font-size: 1.4rem;
    padding: 0 16px;
    margin: 0;
    text-align: left;
    color: $white;
    box-shadow: none;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: $black;
    z-index: 100;
    width: calc(100% - 5em);
    text-align: center;
    border-radius: 4px 4px 0 0;

    @include when-using($tablet) {
      font-size: 1.5rem;
      top: -32px;
      padding-left: 30px;
      padding-right: 30px;
      width: auto;
      border-radius: 4px;
    }

    @include when-using($laptop) {
      font-size: 2.4rem;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  span {
    color: rgba(255, 255, 255, 0.8);
  }

  &__info {
    @include when-using($tablet) {
      display: flex;
      flex-direction: row;
      padding: 1em 1em 2em;
    }
  }

  &__desc {
    color: $white;
    text-align: justify;
    padding: 1em 2em;
    font-size: 0.9rem;
    line-height: 1.2;

    @include when-using($tablet) {
      font-size: 1.1rem;
      padding: 2em;
      text-align: center;;
    }

    @include when-using($laptop) {
      font-size: 1.2rem;
    }
  }

  &__tech {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 0;

    @include when-using($tablet) {
      padding: 0;
    }

    &--shopify svg path:nth-child(4) {
      fill: $white;
    }
    &--angular > svg path {
      fill: #b52e31;
    }

    &__label {
      display: inline-block;
      font-size: 0.7em;
      transform: rotate(-2deg);
      background-color: $red-2;
      color: $white;
      padding: 1px 3px;
      margin-right: 1em;
    }

    .project-link {
      border-style: none;
      padding: 0;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      z-index: 101;
      margin-left: 0.5em;

      svg {
        height: 45px;
        width: 45px;
        fill: $yellow;
      }

      @include when-using($tablet) {
        position: static;
        border-radius: 0;
        background-color: transparent;
      }
    }
  }

  &__links {
    display: flex;
    margin: 0;
    padding: 1em 0 0;
    flex-direction: row;

    @include when-using($tablet) {
      flex: 1;
      flex-basis: 200px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    > a {
      display: block;
      text-align: center;
      padding: 0.5em 1em;
      background: $yellow;
      border-radius: 45px;
      color: $dark-grey;
      transition: background-color 300ms;
      width: 100%;

      &.site-link {
        @include when-using($tablet) {
          padding: 0;
          border-radius: 4px;
          line-height: 1;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          flex: 1;
          max-width: 150px;
        }
      }

      &:hover {
        background: darken($yellow, 5%);
      }
    }
  }

  &__image {
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    z-index: 100;

    @include when-using($tablet) {
      height: 40vh;
    }

    @include when-using($laptop) {
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.9);
      height: 100%;
    }

    .dutch-bros-menu & {
      background-image: url('/images/projects/dutch-bros-menu.png');
    }

    .how-to-flexbox & {
      background-image: url('/images/projects/how-to-flexbox.png');
    }

    .moxie-art & {
      background-image: url('/images/projects/moxie-art.png');
    }

    .who-said-wat & {
      background-image: url('/images/projects/who-said-wat.png');
    }

    .rogue-barbers & {
      background-image: url('/images/projects/rogue-barbers.jpg');
    }
  }
}

// .summary {
//   position: relative;

//   .summary_intro {
//     padding: 2em;
//     color: $white;
//     background: $white;
//     line-height: 1.5;
//     font-size: 1rem;
//     text-align: justify;

//     .wave {
//       display: inline-block;
//       animation: wave 450ms infinite alternate-reverse;

//       &:hover {
//         animation: wave 200ms infinite alternate-reverse;
//       }
//     }

//     .unicorn {
//       display: inline-block;
//       &:hover {
//         animation: bob 450ms infinite alternate-reverse;
//       }
//     }

//     @include when-using($laptop) {
//     }
//   }

//   .summary_highlights li {
//     color: $white;
//   }

//   ol li {
//     list-style: none;
//   }
// }




// .page-content {
//   position: relative;
//   z-index: 1;
//   top: $about-offset;
//   padding: 0;
//   padding-bottom: $about-offset;
//   // background-color: rgba(255, 255, 255, 0.9);
//   font-size: 1rem;

//   @include when-using($tablet) {
//     top: 130px;
//     font-size: 2rem;
//   }

//   @include when-using($laptop) {
//     top: 41px;
//     font-size: 1.4rem;
//     margin-left: 60px;
//   }

//   &__section {
//     background: darken($dark-grey, 3%);
//     color: $dark-grey;

//     > p {
//       padding: 30px;
//       line-height: 1.75;
//       font-size: 1.2rem;
//     }

//     a {
//       color: $dark-grey;
//     }

//     .cta-button {
//       display: block;
//       flex: 1;
//       text-align: center;
//       padding: 15px 20px;
//       border: 1px solid lighten($dark-grey, 15%);
//       border-radius: 45px;
//       color: lighten($dark-grey, 15%);
//       transition: border 300ms, color 300ms;
//       margin: 20px auto;

//       @include when-using($laptop) {
//         margin: 20px auto;
//         max-width: 450px;
//       }

//       &:hover {
//         color: $dark-grey;
//         border-color: $dark-grey;
//       }
//     }
//   }

//   &__section--alt {
//     background: darken($dark-grey, 6%);
//     color: $white;
//   }

//   .social-information {
//     font-size: 1.2rem;
//     background: rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     text-align: left;
//     line-height: 1.75;

//     @include when-using($tablet) {
//       font-size: 1.5em;
//       padding: 30px;
//       border-radius: 20px;
//       margin: 0 30px;
//     }

//     @include when-using($laptop) {
//       font-size: 2rem;
//     }
//   }

//   .details {
//     padding: 20px;
//     background-color: $tan;
//     position: relative;

//     @include when-using($laptop) {
//       padding: 40px;
//       position: relative;
//       z-index: 1;
//     }

//     a {
//       color: $red;
//     }

//     h2 {
//       margin-top: 20px;
//       margin-bottom: -10px;
//       font-size: 2rem;
//       background-color: transparent;
//       box-shadow: none;
//       color: $black;
//       padding: 0;
//       text-align: left;

//       &:first-child {
//         margin-top: 0;
//       }

//       @include when-using($tablet) {
//         font-size: 2.4rem;
//       }
//     }
//   }

//   .thank-you {
//     padding: 1em;
//     background-color: $black;
//     font-size: 2.5rem;
//     position: relative;
//     z-index: 1;

//     a {
//       display: block;
//       text-align: center;
//       font-family: $header-font-family;
//       color: $red;
//       background: -webkit-linear-gradient(58deg, $red 0%, $orange 94%);
//       background: -o-linear-gradient(58deg, $red 0%, $orange 94%);
//       background: linear-gradient(148deg, $red 0%, $orange 94%);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }

//     @include when-using($tablet) {
//       font-size: 1.5em;
//     }

//     @include when-using($laptop) {
//       padding: 2em;
//       font-size: 2rem;
//     }
//   }
// }
