---
layout: default
title: "Blog"
tags:
  - Matti Salokangas
  - SturdyNut blog
  - blog
classes: "page-blog"
---

<section class='page blog-section'>
  {% assign featuredPostsLength = site.posts.size %}
  {% if featuredPostsLength == 0  %}
    <div class='no-posts-container'>
      <span data-in-effect='fadeInDown'>No posts yet!</span>
    </div>
  {% endif %}
  <ol class='featured-post-list'>
    {% for post in site.posts %}
      <li>
        <article name='{{ post.title | replace:" ":"" }}' class='featured-post' style='background-image: linear-gradient( rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100% ), url(../images/backgrounds/{{ post.background }})'>
          <a class='featured-post-url' href='{{ post.url | prepend: site.baseurl }}'>
            <h1 class='featured-post-heading'>{{ post.title }}</h1>
            <div class='featured-post-meta'>
              <span class='featured-post-date'>{{ post.date | date: '%b %-d, %Y' }}</span>
              {% if post.author %}
                <div class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name"><i>by</i> {{ post.author }}</span>
                </div>
              {% endif %}
            </div>
          </a>
          <a href='{{ post.url | prepend: site.baseurl }}' class='featured-post-button'><span>Read Post</span></a>
        </article>
      </li>
    {% endfor %}
  </ol>
  <a class='btn-back' href='/'>
    <span class='icon'></span>
    <span class='text'>Back</span>
  </a>
</section>

{% include blog-scripts.html %}
