.btn {
  border: 1px solid $text-color;
  color: $text-color;
  padding: 10px 25px;
  border-radius: $border-radius;
  font-family: $button-font-family;
}

.btn-top,
.btn-back {
  display: block;
  text-align: center;
  color: $secondary-color;
  transition: all 300ms;
  position: absolute;
  line-height: 85px;
  font-size: 6rem;
  z-index: 20;
  
  @include when-using($tablet) {
    display: block;
    transform: scale(1.5);
  }

  &:hover {
    border-color: $secondary-color;
  }

  .icon {
    position: relative;
    display: block;
  }

  .text {
    display: none;
  }
}

.btn-back {
  position: fixed;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-content: center;

  .icon {
    font-size: 2rem;
    color: $white;
  }

  @include when-using($tablet) {
    top: 30px;
    left: 30px;
  }

}

.btn-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  display: none;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 50;
  color: $primary-color;

  .icon {
    font-size: 2rem;
  }

  @include when-using($tablet) {
    bottom: 40px;
  }
}

.featured-button {
  font-size: 1.6rem;
  transition: all 100ms;
  color: $secondary-color;
  line-height: 60px;
  background: $blue;
  position: relative;
  text-align: center;
  display: block;
  text-indent: 0;
  transition: all 300ms;

  .intro-navigation &,
  .site-nav & {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 45px;
    font-family: $logo-font-family;
  }

  .intro-navigation & {
    color: $secondary-color;
  }

  .site-nav & {
    background-color: transparent;
    color: $white;

    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  @include when-using($tablet) {
    .intro-navigation & {
      background-color: rgba(88, 48, 55, 0.9);
      border-style: none;
    }

    &:hover,
    &:active {
      color: $primary-color;

      &::after {
        top: 0;
      }
    }
    
    &::after {
      content: ' ';
      position: absolute;
      top: 60px;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      border-radius: 50px;
      z-index: 1;
      transition: all 500ms;
      width: 100%;

      .site-nav & {
        display: none;
      }

      .intro-navigation & {
        background-color: rgba(88, 48, 55, 1);
      }
    }
  }

  span {
    position: relative;
    z-index: 2;
  }
}
