$main-nav-height: 50px;
$main-nav-height-condensed: 35px;

.main-navigation {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  bottom: -100%;
  margin: 0;
  position: absolute;
  width: 100%;
  animation: showIntroNavigation 2s;
  animation-fill-mode: forwards;
  z-index: 100;

  @include when-using($laptop) {
    display: block;
    bottom: unset;
    top: 0;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
    animation: none;
    height: $main-nav-height;
    z-index: 10003;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    .site-header--condensed & {
      height: $main-nav-height-condensed;
      opacity: 0.2;
      will-change: opacity;
      transition: opacity 300ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  .main-navigation__link {
    padding: 0.25em 0;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-family: $primary-header-font-family;
    color: $white;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:hover,
    &:active {
      color: $white;
    }

    span {
      position: relative;
      z-index: 20;
      transition: color 300ms;
    }

    @include when-using($tablet) {
      font-size: 1.6rem;
      border-bottom-style: none;
      border-right: 1px solid rgba(255, 255, 255, 0.1);

      &:hover,
      &:active {
        span {
          color: $primary-color-compliment;
        }

        &::after {
          top: 0;
        }
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        background-color: $primary-color;
        z-index: 10;
        transition: top 300ms;
        width: 100%;
        border-radius: 0 0 4px 4px;
      }
    }

    @include when-using($laptop) {
      height: $main-nav-height;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .site-header--condensed & {
        font-size: 1.2rem;
        height: $main-nav-height-condensed;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    @include when-using($tablet) {
      flex-direction: row;
    }

    li {
      margin: 0;
      padding: 0;
      flex: 1;
      list-style: none;

      @include when-using($tablet) {
        margin: 0;

        &:last-child .main-navigation__link {
          border-radius: 0 0 $border-radius 0;
        }
      }

      @include when-using($laptop) {
        &:nth-child(1) a::after {
          border-radius: 0 0 0 4px;
        }
        &:nth-child(2) a::after {
          border-radius: 0;
        }
        &:nth-child(3) a::after {
          border-radius: 0 0 4px 0;
          left: 1px;
        }
      }
    }
  }
}
