<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="site-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js'></script>
    <script src='/js/main.js'></script>
  </body>

</html>
