/**
 * Site footer
 */
.site-footer {
  font-size: 0.6rem;
  color: $footer-text-color;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  // position: fixed;
  // z-index: 20;
  // bottom: -40px;

  @include when-using($tablet) {
    font-size: 0.7rem;
    height: 60px;
  }
  @include when-using($laptop) {
    font-size: 0.9rem;
  }
}

.btn.subscribe-link {
  border-style: none;
  border-radius: 0;
  display: block;
  margin: 15px 30px;
  transition: all 300ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;

  &:hover {
    color: $footer-text-color;
    border: 1px solid $footer-text-color;
  }

  @include when-using(768px) {
    font-size: 0.9em;
    padding: 10px 0;
    margin: 15px auto;
  }
}

.social-media-list {
  height: 75px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
