/**
 * Site header
 */
.site-header {
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 1em;
  // background-color: $black;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);

  &.active {
    background-color: transparent;
  }

  @include when-using($tablet) {
    background-color: transparent;
  }
}

.site-title-wrapper {
  .site-logo {
    position: relative;
    top: -3px;

    path {
      &:last-child,
      &:first-child {
        stroke: $white;
        transition: stroke 300ms;
      }
    }

    &:hover {
      path {
        &:last-child,
        &:first-child {
          stroke: $primary-color;
        }
      }
    }
  }

  .site-title {
    margin-left: 5px;
    opacity: 1;
    transition: opacity 300ms;

    .site-header--condensed & {
      opacity: 0;
    }
  }
}

.site-nav-trigger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000202; // 1 more than menu
  width: 70px;
  height: 71px;
  line-height: 0;
  text-align: center;
  color: $white;
  transition: top 50ms;
  display: flex;
  align-items: center;
  justify-content: center;

  @include when-using($laptop) {
    padding-right: 1em;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &.active {
    top: 0;

    @include when-using($laptop) {
      top: 5px;
    }
  }
}

/*** Hamburger styles ***/
.hamburger-menu {
  cursor: pointer;
  transition: all 500ms;
  background-color: transparent;
  outline: 4px solid transparent;

  .site-nav-trigger.active & {
    path:nth-child(1) {
      transform: rotate(51deg);
      transform-origin: 7px 2px;
      transition-delay: 75ms;
    }
    path:nth-child(2) {
      transform: translateX(100px);
      transition: all 200ms;
    }
    path:nth-child(3) {
      transform: rotate(-51deg);
      transform-origin: 7px 23px;
      transition-delay: 75ms;
    }

    transform: rotate(180deg);

    @include when-using($tablet) {
      // top: 30px;

      path:nth-child(1) {
        transform: scale(1.15) rotate(51deg);
      }
      path:nth-child(2) {
        transform: scale(1.15) translateX(100px);
      }
      path:nth-child(3) {
        transform: scale(1.15) rotate(-51deg);
      }

      transform: scale(1.15) rotate(180deg);
    }
  }

  &:hover path {
    stroke: $menu-trigger-active-color;
  }

  path {
    stroke: $menu-trigger-color;
    stroke-width: 6px;
    transition: all 300ms;
    transform: none;

    .site-nav-trigger--condensed & {
      stroke: $primary-color;
    }

    .active & {
      stroke: $menu-trigger-active-color;

      @include when-using($tablet) {
        stroke-width: 5px;
      }
    }
  }
}

.site-nav {
  position: fixed;
  z-index: 1000201; // 1 more than social share bar
  top: 0;
  right: -9999px;
  bottom: 0;
  transition: all 250ms;
  background-color: $menu-background-color;
  max-width: 600px;
  width: 100%;
  padding: 50px 15px 0;
  overflow-y: auto;

  @include when-using($tablet) {
    height: 100%;
    min-width: 600px;
    box-shadow: -4px 0 15px 0px rgba(0, 0, 0, 0.3);
  }

  @include when-using($laptop) {
    padding-top: 70px;
  }

  &.active {
    right: 0;
    z-index: 1000201; // 1 more than social share bar
  }

  h3 {
    font-size: 1.8rem;
    padding: 15px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.site-nav-pages {
  position: relative;
  display: flex;
  flex-direction: column;

  &.site-nav-pages-work,
  &.site-nav-pages-channels {
    flex-direction: row;
  }

  &.site-nav-pages-info {
    padding-top: 30px;

    .site-nav-page {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        @include when-using($tablet) {
          font-size: 2rem;
          padding: 10px 0;
        }

        @include when-using($laptop) {
          font-size: 2.2rem;
        }
      }
    }
  }

  .site-nav-info,
  .site-nav-group-about,
  .site-nav-page {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .site-nav-group-about {
    margin-top: 30px;
  }

  .site-nav-post-meta svg {
    height: 55px;
    width: 55px;

    path {
      fill: $menu-item-background-hover-color;
    }
  }

  .site-nav-info {
    margin-top: auto;

    p {
      padding: 0 40px 20px;
      text-align: justify;
      line-height: 2;

      &:nth-of-type(1) {
        padding-top: 20px;
        font-size: 1.2em;
      }
    }

    span.keyword {
      border-bottom: 2px dotted $keyword-color;
    }
  }
}

.site-nav-page {
  transition: all 300ms;

  a:hover {
    background-color: $menu-item-background-hover-color;
  }

  .site-nav-pages-work &,
  .site-nav-pages-channels & {
    flex: 1;
    margin-right: 12px;
    border-radius: $border-radius;
    transition: all 300ms;

    &:hover {
      background-color: $menu-item-background-hover-color;

      a {
        color: $menu-item-background-color;
      }

      path {
        fill: $menu-item-background-color;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $menu-item-background-hover-color;
      line-height: 2;
      padding: 10px 0;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: 3px;

      @include when-using($tablet) {
        font-size: 1.2rem;
        padding: 15px 20px 20px;
      }

      span:last-child:not(:first-child) {
        font-size: 0.7em;
      }
    }
  }
}
