$white: #F8F6F6;
$black: #111;
$blue:  #78B7E2;
$dark-red:  #2F0C07;
$red: #9F3636;
$orange:  #E8673D;
$yellow:  #FDB24F;
$purple:  #946B9E;
$brown:  #714E2F;
$tan: #F8AA87;
$green:  #3E522A;
$dark-grey: #2a2a2a;
$pink: #F9BDA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $green;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-light: lighten($primary-color, 15%);
$secondary-color: $yellow;
$tertiary-color: $red;

$quote-color: $blue;
$header-color: $black;
$heading-color: $white;
$footer-color: $white;
$footer-text-color: $black;
$title-color: $tan;
$background-color: $green;
$background-image: none;
$text-color: $white;

/** Site Menu **/
$menu-background-color: $dark-grey;
$menu-item-color: $white;
$menu-item-hover-color: $white;
$menu-item-background-color: darken($menu-background-color, 5%);
$menu-item-background-hover-color: darken($menu-item-background-color, 5%);
$menu-trigger-color: darken($secondary-color, 5%);
$menu-trigger-active-color: darken($secondary-color, 5%);

/** Home Page **/
$intro-navigation-background-color: $secondary-color;
$intro-navigation-background-active-color: darken($secondary-color, 5%);

/** Posts **/
$keyword-color: $tertiary-color;
