$white: #F8F6F6;
$black: #111;
$blue:  #71A0C7;
$dark-red:  #2F0C07;
$red: #FA7347;
$red-2: #CB5251;
$orange:  #FDB24F;
$yellow:  #F9ED60;
$purple:  darken(#946B9E, 10%);
$brown:  #714E2F;
$tan: #FFF7EB;
$green:  #3E522A;
$dark-grey: #2a2a2a;
$pink: #F9BDA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $red;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-light: lighten($primary-color, 15%);
$secondary-color: $orange;
$tertiary-color: $dark-grey;
$primary-color-compliment: $dark-grey;

$quote-color: $black;
$link-color: darken($primary-color, 10%);
$header-color: $black;
$heading-color: $black;
$footer-background-color: $blue;
$footer-text-color: rgba(255, 255, 255, 0.6);
$title-color: $tan;
$background-color: $black;
$text-color: $black;

/** Site Menu **/
$menu-background-color: $red;
$menu-item-color: $white;
$menu-item-hover-color: $white;
$menu-item-background-color: $menu-background-color;
$menu-item-background-hover-color: $white;
$menu-trigger-color: $white;
$menu-trigger-active-color: $white;

/** Posts **/
$keyword-color: $tertiary-color;
