$white: #F8F6F6;
$black: #333;
$blue:  #71A0C7;
$dark-red:  #2F0C07;
$red: #9F3636;
$orange:  #E8673D;
$yellow:  #FDB24F;
$purple:  darken(#946B9E, 10%);
$brown:  #714E2F;
$tan: #F8AA87;
$green:  #3E522A;
$dark-grey: #2a2a2a;
$pink: #F9BDA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $orange;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-light: lighten($primary-color, 15%);
$secondary-color: $yellow;
$tertiary-color: $dark-red;

$quote-color: $black;
$header-color: $black;
$heading-color: $black;
$footer-background-color: $blue;
$footer-text-color: $white;
$title-color: $tan;
$background-color: $blue;
$background: url('/images/backgrounds/bg-main-2.jpg') no-repeat;
$text-color: $black;

/** Site Menu **/
$menu-background-color: $tertiary-color;
$menu-item-color: $secondary-color;
$menu-item-hover-color: $secondary-color;
$menu-item-background-color: $menu-background-color;
$menu-item-background-hover-color: $secondary-color;
$menu-trigger-color: $primary-color;
$menu-trigger-active-color: $white;

/** Posts **/
$keyword-color: $tertiary-color;
