$base-font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$logo-font-family: 'Satisfy';
$header-font-family: 'Merriweather';
$button-font-family: 'Merriweather';

$content-width:    1200px;
$spacing-unit:     15px;

$mobile:        0px;
$tablet:        481px;
$laptop:        1024px;
