$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$logo-font-family: 'Pattaya';
$header-font-family: 'Pattaya';
$button-font-family: 'Merriweather';

$content-width:    1200px;
$spacing-unit:     15px;
$border-radius:    3px;
$footer-height:    40px;

$mobile:        0px;
$tablet:        481px;
$laptop:        1024px;
